* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    padding-top: 50px;
}

.main-nav {
    background-color: #14213D;
    padding: 10px;
    position: fixed;
    font-weight: bold;
    width: 100%;
    top: 0;
    z-index: 10;
}
    .main-nav a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
    .main-nav #nav-login-cart {
        position: absolute;
        right: 10px;
        line-height: 25px;
    }
        #nav-login-cart a {
            font-size: 1rem;
        }
        #cart {
            margin-left: 20px;
            color: #FCA311;
        }